{{> header}}
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    {{#docs}}
                    <th>{{family}}</th>
                    <th>{{strings.delete_specie}}</th>
                    {{/docs}}
                </tr>
            </thead>
            <tbody>
            {{#docs}}
                {{#species}}
                <tr>
                    <td class="species"><span>{{scientificNameWithoutAuthorship}}<span></td>
                    <td><a href="{{base}}/delete/specie/{{scientificNameWithoutAuthorship}}" class="glyphicon glyphicon-remove"></a></td>
                </tr>
                {{#synonyms}}
                <tr>
                    <td class="synonym">&nbsp;&nbsp;&nbsp;&nbsp;<span>{{scientificNameWithoutAuthorship}}</span> (synonym)</td>
                </tr>
                {{/synonyms}}
                {{/species}}
            {{/docs}}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <form action="{{base}}/insert/specie" method='POST' class='form'>
        <h3>Adicionar espécie</h3>
        <fieldset>
            <div class='form-group'>
                <input id="specie" name="specie" type="text" placeholder="" rel='complete' complete='roles'  class='form-control'/>
            </div>
            <button class="btn btn-success">Adicionar</button>
        </fieldset>
        </form>
    </div>

{{> footer}}
