{{> header}}

<div class="col-md-12">
    <h2>{{family}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>{{strings.specie}}</th>
                                <!--
                <th>{{strings.validated}}</th>
                <th>{{strings.total}}</th>
                -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Selecionar Todas</td>
                <td>
                    <div class="make-switch switch-mini" id="rowSelectAll">
                        <input type="checkbox" id="rowSelectAll">
                    </div>
                </td>
            </tr>
            {{#species}}
            <tr>
                <td><i><a href='{{base}}/specie/{{scientificName}}'>{{scientificName}}</a></i> {{scientificNameAuthorship}}</td>
                 <td>
                    <div class="make-switch switch-mini toggle-state-switch">
                        <input type="checkbox" class="row-select" id="{{id}}">
                    </div>
                </td>

                <!--
                <td>{{reviewed}}</td>
                <td>{{validated}}</td>
                <td>{{total}}</td>
                -->
            </tr>
            {{/species}}
        </tbody>
    </table>
</div>

{{> footer}}
