{{> header}}
{{#logged}}
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>FAMÍLIAS</th>   
                </tr>
            </thead>
            <tbody>
            {{#families}}
                <tr>
                    <td><a href="{{base}}/{{db}}/edit/family/{{name}}">{{name}} / {{species_amount}}</a></td>
                </tr>
            {{/families}}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <form action="{{base}}/{{db}}/insert/new" method='POST' class='form'>
        <h3>Adicionar espécie</h3>
        <fieldset>
            <p>A integração com a flora do brasil é falha, por tanto é necessário acrescentar manualmente as espécies</p>
            <div class='form-group'>
                <label for="family">Familia</label>
                <input name="family" type="text" placeholder="Acanthaceae" class='form-control'/>
            </div>
            <div class='form-group'>
                <label for="scientificNameWithoutAuthorship">Nome cientifico</label>
                <input name="scientificNameWithoutAuthorship" type="text" placeholder="Aphelandra longiflora" class='form-control'/>
            </div>
            <div class='form-group'>
                <label for="scientificNameAuthorship">Autor(a)</label>
                <input name="scientificNameAuthorship" type="text" placeholder="S.Profice" class='form-control'/>
            </div>
            <div class='form-group'>
                <label for="taxonRank">Rank</label>
                <select name="taxonRank">
                    <option value="species">Espécie</option>
                    <option value="subspecie">Subespecie</option>
                    <option value="variety">Variedade</option>
                </select>
            </div>
            <div class='form-group'>
                <label for="taxonomicStatus">Status</label>
                <select id="taxonomicStatus" name="taxonomicStatus">
                    <option value="accepted">Aceito</option>
                    <option value="synonym">Sinônimo</option>
                </select>
            </div>
            <div class='form-group'>
                <label for="acceptedNameUsage">Nome aceito com autor (se sinônimo)</label>
                <input id="acceptedNameUsage" name="acceptedNameUsage" type="text" placeholder="Aphelandra longiflora S.Profice" class='form-control'/>
            </div>
            <button class="btn btn-success">Adicionar</button>
        </fieldset>
        </form>
    </div>
    </div>
{{/logged}}
{{> footer}}



