
    {{#role-validator}}
    <div id="validate-{{occurrenceID2}}" class="modal fade" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{{base}}/occurrences/{{occurrenceID}}/validate">
                    <fieldset>
                        <input name="q" value="{{query}}" type="hidden" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3>Validação</h3>
                        </div>
                        <div class='modal-body'>
                            <p class='form-group'>
                                <label for="status">Valid:</label>
                                <select name="status" class='form-control'>
                                    <option value=""></option>
                                    <option value="valid" {{#valid}} selected {{/valid}}>Valid</option>
                                    <option value="invalid" {{#invalid}} selected {{/invalid}}>Invalid</option>
                                </select>
                                <script type="text/javascript">
                                {{#valid}} $("select[name=status]").val('valid') {{/valid}}
                                {{#invalid}} $("select[name=status]").val('invalid') {{/invalid}}
                                </script>
                                <span>Invalid: keep the occurrence record but remove from analysis/calculations.</span>
                            </p>
                            <p class='form-group'>
                                <label for="presence">Presence</label>
                                <select name="presence" class='form-control'>
                                    <option value="unkown" {{#presence-unkown}} selected {{/presence-unkown}}>unkown</option>
                                    <option value="present" {{#presence-present}} selected {{/presence-present}}>present</option>
                                    <option value="absent" {{#presence-absent}} selected {{/presence-absent}}>absent</option>
                                </select>
                            </p>
                            <p class='form-group'>
                                <label for="reason">Status:</label>
                                <select name="reason" class='form-control'>
                                    <option value="ok" {{#reason-ok}} selected {{/reason-ok}}>ok (valid)</option>
                                    <option value="uncertain taxonomy" {{#reason-uncertain-taxonomy}} selected {{/reason-uncertain-taxonomy}}>uncertain taxonomy (valid)</option>
                                    <option value="wrong taxonomy"  {{#reason-wrong-taxonomy}} selected {{/reason-wrong-taxonomy}}>wrong taxonomy (invalid)</option>
                                    <option value="wrong georeference" {{#reason-wrong-georeference}} selected {{/reason-wrong-georeference}}>wrong georeference (valid)</option>
                                    <option value="duplicate" {{#reason-duplicate}} selected {{/reason-duplicate}}>duplicate (invalid)</option>
                                    <option value="cultivated" {{#reason-cultivated}} selected {{/reason-cultivated}}>cultivated (invalid)</option>
                                    <option value="other" {{#reason-other}} selected {{/reason-other}}>other (valid or invalid)</option>
                                </select>
                            </p>
                            <p class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea name="comment" class='form-control'>{{validation.remarks}}</textarea>
                            </p>
                        </div>
                        <div class='modal-footer'>
                            <button class="btn btn-success" type='submit'>Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {{/role-validator}}

    {{#role-analyst}}
    <div id="analysis-{{occurrenceID2}}" class="modal fade" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{{base}}/occurrences/{{occurrenceID}}/analysis">
                    <fieldset>
                        <input name="q" value="{{query}}" type="hidden" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" >&times;</button>
                            <h3>Análise</h3>
                        </div>
                        <div class="modal-body">
                            <p class="form-group">
                                <label for="qualifier">{{strings.qualifier}}</label>
                                <input id="identificationQualifier" name="identificationQualifier" type="text" class="form-control" value="{{identificationQualifier}}" />
                            </p>
                            <p class="form-group">
                                <label for="comments">Comments</label>
                                <textarea name="comments" class='form-control'>{{comments}}</textarea>
                            </p>
                        </div>
                        <div class='modal-footer'>
                            <button class="btn btn-success" type='submit'>Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {{/role-analyst}}

    {{#role-sig}}
    <div id="sig-{{occurrenceID2}}" class="modal fade" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{{base}}/occurrences/{{occurrenceID}}/sig">
                    <fieldset>
                        <input name="q" value="{{query}}" type="hidden" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" >&times;</button>
                            <h3>GIS</h3>
                        </div>
                        <div class="modal-body">
                            <p class='form-group'>
                                <label for="valid">Valid:</label>
                                <select name="valid" class='form-control'>
                                    <option value=""></option>
                                    <option value="valid" {{#valid}} selected {{/valid}}>Valid</option>
                                    <option value="invalid" {{#invalid}} selected {{/invalid}}>Invalid</option>
                                </select>
                                <script type="text/javascript">
                                {{#valid}} $("select[name=valid]").val('valid') {{/valid}}
                                {{#invalid}} $("select[name=valid]").val('invalid') {{/invalid}}
                                </script>
                            </p>
                            <p class='form-group'>
                                <label for="status">Status:</label>
                                <select name="status" class='form-control'>
                                    <option value="ok" {{#status-ok}} selected {{/status-ok}}>ok</option>
                                    <option value="nok" {{#status-nok}} selected {{/status-nok}}>not ok</option>
                                    <option value="uncertain-locality" {{#status-uncertain-locality}} selected {{/status-uncertain-locality}}>uncertain locality</option>
                                </select>
                            </p>
                            <p class="form-group">
                                <label for="latitude">Latitude</label>
                                <input name="latitude" value="{{decimalLatitude}}" class='form-control' type="text" />
                            </p>
                            <p class="form-group">
                                <label for="longitude">longitude</label>
                                <input name="longitude" value="{{decimalLongitude}}" class='form-control' type="text" />
                            </p>
                            <p class="form-group">
                                <label for="comment">Comments</label>
                                <textarea name="comment" class='form-control'>{{georeferenceRemarks}}</textarea>
                            </p>
                        </div>
                        <div class='modal-footer'>
                            <button class="btn btn-success" type='submit'>Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {{/role-sig}}
