<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>{{strings.occurrences}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{base}}/css/bootstrap.min.css" rel="stylesheet" >
    <link href="{{base}}/css/bootstrap-theme.min.css" rel="stylesheet" >
    <link href="{{base}}/css/app.css" rel="stylesheet" >
    <script type="text/javascript">
        var logged = {{{logged}}};
        var connect = '{{connect}}';
        var base = '{{base}}';
    </script>
    <script src="{{connect}}/js/connect.js"></script>
    <script src="{{base}}/js/jquery.min.js"></script>
    <script src="{{base}}/js/bootstrap.min.js"></script>
    <script src="{{base}}/js/app.js"></script>
</head>
<body>
    <div class="container">
        <header class='col-md-12'>
            <h1>{{strings.occurrences}}</h1>
        </header>
        <nav class="navbar navbar-default col-md-12">
            <ul class="nav navbar-nav">
                <li><a href="{{base}}/">{{strings.start}}</a></li>
                <li><a href="{{base}}/search">{{strings.search}}</a></li>
                <li><a href="{{base}}/families">{{strings.families}}</a></li>
                {{^logged}}
                <li id='login'><a href="#">{{strings.login}}</a></li>
                {{/logged}}
                {{#logged}}
                <li><a href="{{base}}/upload">{{strings.upload}}</a></li>
                <li id='logout'><a href="#">{{strings.logout}}</a></li>
                {{/logged}}
            </ul>
        </nav>

