<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>{{strings.checklist}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="{{base}}/css/bootstrap.min.css" rel="stylesheet" >
    </head>
    <body>
    <div class="container">
        <header class="col-md-12">
            <h1>Recorte</h1>
        </header>

        <nav class="navbar navbar-default col-md-12">
            <div class="navbar-inner">
                <ul class="nav navbar-nav">
                    <li><a href="{{base}}/">Início</a></li>
                    <li><a href="{{base}}/new">Novo</a></li>
                </ul>
            </div>
        </nav>
