
{{> header}}

{{^logged}}
    <p class="col-md-12">{{strings.login-to-begin}}.</p>
{{/logged}}

{{#logged}}
<div class="col-md-8">
    <h2>{{strings.welcome}}, {{user.name}}.</h2>
    <h3>
      {{strings.checklists}}
    </h3>
    <ul>
    {{#dbs}}
      <li><a href="{{base}}/{{db}}">{{name}}</a></li>
    {{/dbs}}
    </ul>
</div>

    <form action="{{base}}/" method="POST" class='form col-md-4'>
      <fieldset>
        <legend>Novo checklist</legend>
        <p>
        <input name="db" type="text" placeholder="Nome XYZ 2015"/>
        </p>
        <p><small>(apenas LETRAS, NÚMEROS e ESPAÇO)</small></p>
        <button>Criar</button>
      </fieldset>
    </form>
{{/logged}}

{{> footer}}
