{{> header}}
    <table class="table">
        <thead>
            <tr>
                <th>Recorte</th>   
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Recorte xpto</td>
                <td>
                    <span class="glyphicon glyphicon-pencil"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </tbody>
    </table>
{{> footer}}
