{{> header}}

<h2 class='col-md-12'>{{strings.search}}</h2>

<form action="{{base}}/search" class='col-md-12'>
    <fieldset>
        <p>
            <input class="form-control" type="text" name="q" placeholder="{{strings.search}}..." value="{{query}}">
        </p>
        <p>
            <button class="btn btn-primary" type="search"><span class='glyphicon glyphicon-search'></span> {{strings.search}}</button>
        </p>
    </fieldset>
</form>

<div class="col-md-12">
    <h3>{{strings.results}}</h3>

    {{#stats}}
    <table class='table'>
        <thead>
            <tr>
                <th>{{strings.eoo}}</th>
                <th>{{strings.aoo}}</th>
                <th>{{strings.valid}}</th>
                <th>{{strings.invalid}}</th>
                <th>&nbsp;</th>
                <th>{{strings.reviewed}}</th>
                <th>{{strings.validated}}</th>
                <th>{{strings.total}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{eoo}}</td>
                <td>{{aoo}}</td>
                <td>{{valid}}</td>
                <td>{{invalid}}</td>
                <td>&nbsp;</td>
                <td>{{reviewed}}</td>
                <td>{{validated}}</td>
                <td>{{total}}</td>
            </tr>
        </tbody>
    </table>
    {{/stats}}

    {{#role-sig}}
    <p class="col-md-12">
        <a href="{{base}}/editor?q={{query}}" class="btn btn-small">{{strings.table-editor}}</a>
    </p>
    {{/role-sig}}

    <a name="map"></a>
    <div id="map"></div>

    <script type="text/javascript">
        var occurrences = [] ;
    </script>

    {{#result}}
        <a name="occ-{{occurrenceID}}-unit"></a>
        <script>
            occurrences.push({{{json}}});
        </script>
        <div id="occ-{{occurrenceID}}-unit" >
            {{> unit}}
        </div>
        {{> forms}}
    {{/result}}

</div>

<link rel="stylesheet" href="{{base}}/css/leaflet.css" />
<link rel="stylesheet" href="{{base}}/css/MarkerCluster.css" />
<link rel="stylesheet" href="{{base}}/css/MarkerCluster.Default.css" />
<script type="text/javascript" src="{{base}}/js/leaflet.js"></script>
<script type="text/javascript" src="{{base}}/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src='{{base}}/js/map.js'></script>

{{> footer}}
