{{> header}}

    <div class="span12">
        <h1>Recorte xpto</h1>
        <h2>ACANTHACEAE</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Espécie</th>   
                    <th>
                        Selecionar Todas <div class="make-switch switch-mini"><input type="checkbox" id="rowSelectAll"></div>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Justicia clivalis Wassh.</td>
                    <td>
                        <div class="make-switch switch-mini">
                            <input type="checkbox" class="row-select">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Poikilacanthus bahiensis (Nees) Wassh.</td>
                    <td>
                        <div class="make-switch switch-mini">
                            <input type="checkbox" class="row-select">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Staurogyne minarum (Nees) Kuntze</td>
                    <td>
                        <div class="make-switch switch-mini">
                            <input type="checkbox" class="row-select">
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="btn-group">
            <a href="{{base}}/edit" class="btn btn-success" role="button">Salvar</a>
            <a href="{{base}}/" class="btn btn-danger">Cancelar</a>
        </div>


    </div>
{{> footer}}


