
<div class="well occurrence {{#validationBy}} validated {{/validationBy}} {{#valid}} valid {{/valid}}" >

    <div class='actions alabel'>

        {{^georeferenceVerificationStatus}}
        <span  class='label label-warning'>{{strings.missing-sig}}</span>
        {{/georeferenceVerificationStatus}}

        {{^validation.status}}
            <span class='label label-warning'>{{strings.missing-validation}}</span>
        {{/validation.status}}

        {{#validation.status}}
            {{#valid}}
                <span class="label label-success">{{strings.valid}}</span>
            {{/valid}}
            {{#invalid}}
                <span class="label label-danger">{{strings.invalid}}</span>
            {{/invalid}}
        {{/validation.status}}

        {{#georeferenceVerificationStatus}}
            {{#validation.status}}
                <span class="label label-primary">{{strings.verified}}</span>
            {{/validation.status}}
        {{/georeferenceVerificationStatus}}

        {{#decimalLatitude}}
        <span>
            <button class="to-map btn btn-xs" rel='{{occurrenceID}}'><i class='glyphicon glyphicon-eye-open'></i> {{strings.view-in-map}}</button>
        </span>
        {{/decimalLatitude}}

        {{^decimalLatitude}}
        <span class='label label-warning'>{{strings.no-points}}</span>
        {{/decimalLatitude}}

        {{#role-validator}}
        <span>
            <button data-target="#validate-{{occurrenceID2}}" data-toggle="modal" class='btn btn-xs'><i class='glyphicon glyphicon-edit'></i> {{strings.edit-validation}}</button>
        </span>
        {{/role-validator}}

        {{#role-analyst}}
        <span>
            <button data-target="#analysis-{{occurrenceID2}}" data-toggle="modal" class='btn btn-xs'><i class='glyphicon glyphicon-edit'></i> {{strings.edit-analysis}}</button>
        </span>
        {{/role-analyst}}

        {{#role-sig}}
        <span>
            <button data-target="#sig-{{occurrenceID2}}" data-toggle="modal" class='btn btn-xs'><i class='glyphicon glyphicon-edit'></i> {{strings.edit-sig}}</button>
        </span>
        {{/role-sig}}

    </div>

    <p>
        <strong>Occurrence ID</strong>: <a href="#occ-{{occurrenceID}}-unit">{{occurrenceID}}</a> ;
    </p>
    <p>
        <strong>Taxon</strong>:{{family}} {{scientificName}};
    </p>
    {{#identificationQualifier}}
    <p>
        <strong>{{strings.qualifier}}</strong>: {{identificationQualifier}}
    </p>
    {{/identificationQualifier}}

    <p>
        <strong>Recorded by</strong>: {{recordedBy}} , 
        <strong>Number</strong>: {{recordNumber}} ;
    </p>

    <p>
        <strong>Collect Date</strong>: {{day}}-{{month}}-{{year}} ;
    </p>

    <p>
        <strong>Collection</strong>: {{collectionCode}} ,  
        <strong>Catalog</strong>: {{catalogNumber}};
    </p>

    {{#identifiedBy}}
        <p>
            <strong>Identified by</strong> {{identifiedBy}} ,
            <strong>Date</strong> {{identificationDate}} ;
        </p>
    {{/identifiedBy}}

    <p>
        <strong>State</strong>: {{stateProvince}} ;
        <strong>City</strong>: {{municipality}} ;
    </p>

    {{#locality}}
    <p>
        <strong>Locality</strong>: {{locality}} ;
    </p>
    {{/locality}}

    {{#presence}}
    <p>
        <strong>Presence</strong>: {{presence}} ;
    </p>
    {{/presence}}

    <p>
        <strong>Long/Lat</strong>: {{decimalLongitude}} {{decimalLatitude}} ;
    </p>

    {{#bibliographicCitation}}
    <p>
        <strong>Literature</strong>: {{bibliographicCitation}};
    </p>
    {{/bibliographicCitation}}

    {{#occurrenceRemarks}}
    <p>
        <strong>Remarks</strong>: {{{occurrenceRemarks}}};
    </p>
    {{/occurrenceRemarks}}

    {{#georeferencedBy}}
        <p><strong>Georeference Remarks</strong>: {{georeferencedBy}} - {{{georeferenceRemarks}}};</p>
    {{/georeferencedBy}}

    {{#comments}}
        <p><strong>Analysis Remarks</strong>: {{{comments}}};</p>
    {{/comments}}

    {{#validation.by}}
    <p>
        {{#role-analyst}}
            <span class='label label-warning'>check</span>
        {{/role-analyst}}
        <strong>Validation Remarks</strong>: {{validation.by}} - {{validation.reason}}: {{{validation.remarks}}};
    </p>
    {{/validation.by}}


</div>
