{{> header}}

{{#has_errors}}
<div class='col-md-12'>
    <h3>{{strings.errors}}</h3>
    <ul>
        {{#errors}}
        <li>{{.}}</li>
        {{/errors}}
    </ul>
</div>
{{/has_errors}}

<form action="{{base}}/upload" method='POST' enctype="multipart/form-data" class='col-md-12'>
    <fieldset>
        <legend>{{strings.upload-file}}:</legend>
        <div class="form-group input-group col-md-6">
            <span class='input-group-addon'>
                <select id="type" name="type" class="">
                    <option value="xlsx">XLSX</option>
                    <option value="csv">CSV</option>
                    <!--
                    <option value="kml">KML</option>
                    <option value="json">JSON</option>
                    <option value="geojson">GEOJSON</option>
                    -->
                    <option value="dwca">DWC-A</option>
                </select>
            </span>
            <span class=''>
                <input class='form-control' id="file" name="file" type="file" />
            </span>
            <span class="input-group-btn">
                <button class="btn btn-success">{{strings.send}}</button>
            </span>
        </div>
        <p>
            <strong>{{strings.templates}}</strong>: 
            <a href='{{base}}/templates/occurrences.xlsx'>occurrences.xlsx</a>; 
        </p>
    </fieldset>
</form>


{{> footer}}

