header img {
    width:100px;
    margin-top: -100px;
    float: right;
}

h1 {
    font-size: 25px;
    color: transparent;
    background: url('../img/logo.png') no-repeat ;
    height: 100px;
}

h3 i {
    color: #20AE54;
}

body {
    padding-bottom: 50px;
}

[class*="span"] {
    margin-left: 10px;
}

[class^="icon-"], [class*=" icon-"] {
    margin-right:5px;
}
li.spp [class^="icon-"], li.spp [class*=" icon-"] {
    vertical-align: middle;
    margin-right:0;
}

.add-on {
    width: 100px !important;
    text-align:left !important;
}

.span12 input[type='text'] {
    width: 300px;
}

.span12 select {
    width: 315px;
}

.span12 a.file-input-wrapper {
    width: 400px
}

.span12 textarea {
    width: 410px;
    height: 80px;
}


iframe {
    border: none;
    height: 500px;
    width: 600px;
}

li {
    list-style:none;
}

li.spp a {
    color: #333;
}
li.spp a.got {
    color: #20AE54;
}

.actions  {
    margin-top: 10px;
}


.nav-tabs {
    margin-bottom: 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

#review-form textarea, #comment-form textarea{
    width: 90%;
    height: 80px;
}
